@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Inter:wght@400;700&display=swap');

$dark-bg: #232326;
$grey: #F3F2F0;

html {
    font-size: 10px;
}

body {
    font-family: 'Inter', 'sans-serif';
    font-size: 1.4rem;
    color: $grey;
    background-color: $dark-bg;
    height: 100%;
}

.header {
    &__box {
        position: fixed;
        width: 100%;
        padding: 4rem 0;
        background-color: $dark-bg;
        top: 0;
        z-index: 5;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;
        max-width: 1140px;
    }
    &__nav {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        font-weight: 400;
    }
    &__link {
        text-decoration: none;
        color: $grey;
        &-phone {
            position: relative;
            &::after {
                content: '';
                width: 1px;
                height: 24px;
                position: absolute;
                right: -1.3rem;
                top: -.4rem;
                background-color: $grey;
                pointer-events: none;
                opacity: .5;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2.6rem;
        flex-grow: 1;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 7.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.21rem;
    margin: 0;
    padding: 0;
    &__span {
        display: block;
        font-weight: 400;
        font-size: 2.8rem;
        letter-spacing: 0.01rem;
        text-transform: none;
        margin-bottom: 3rem;
    }
}

.subtitle {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    //letter-spacing: 0.05rem;
    line-height: 1.5;
    &_l {
        text-transform: none;
    }
    &_3 {
        font-size: 2.8rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
}

.description {
    font-weight: 400;
    padding: 0;
    margin: 0;
    opacity: .8;
    line-height: 1.5;
    &__size-s {
        font-size: 1.4rem;
    }
    &__size-m {
        font-size: 1.6rem;
    }
    &__size-l {
        font-size: 2.8rem;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.6rem;
    list-style-type: none;
    &__list {
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        position: relative;
        &:nth-child(3) {
            .socials__link::after {
                content: none;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: $grey;
        &::after {
            content: '';
            width: 1px;
            height: 24px;
            position: absolute;
            right: -2.6rem;
            top: -.4rem;
            background-color: $grey;
            pointer-events: none;
            opacity: .5;
        }
    }
}

.about {
    padding-top: 6rem;
    padding-bottom: 12rem;    
    &__bg {
        height: 31rem;
        width: 100%;
        background-image: url(../img/bg_header.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 12rem;
    }
    &__text {
        margin-bottom: 10rem;
    }
    &__networks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        padding-bottom: 6rem;
        border-bottom: 1px solid $grey;
    }
    &__btn-popup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        border: none;
        padding: 0;
        background-color: transparent;
        color: $grey;
        cursor: pointer;
        &::after {
            content: '';
            background-image: url(../img/svg/Arrow.svg);
            background-repeat: no-repeat;
            width: 1.6rem;
            height: 1.15rem;
        }
    }
    &__skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding-top: 6rem;
        padding-bottom: 18rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        max-width: 22rem;
        &:last-child {
            max-width: 24rem;
        }
        &_advantages {
            gap: 2rem;
        }
    }
    &__title {
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.05rem;
        &-up {
            text-transform: uppercase;
        }
        &_advantages {
            letter-spacing: 0;
        }
    }
    &__description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        row-gap: 6rem;
        column-gap: 2rem;
        margin-bottom: 18rem;
    }
    &__advantages {
        grid-column-start: 2;
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        grid-template-rows: auto;
        row-gap: 6rem;
        column-gap: 5rem;
        position: relative;
        width: 56rem;
    }
    &__algorithm {
        display: flex;
        flex-direction: column;
    }
    &__step {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding: 3rem 0;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            max-width: 1140px;
            height: 1px;
            background-color: $grey;
            top: 0px;
        }
        &:last-child {
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                max-width: 1140px;
                height: 1px;
                background-color: $grey;
                bottom: 0px;
            }
        }
    }
    &__step-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4.3rem;
    }
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    gap: 2rem;
    position: relative;
    padding-bottom: 6rem;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        max-width: 1140px;
        height: 1px;
        background-color: $grey;
        bottom: 0px;
    }
    &__item {
        &:last-child {
            width: 56rem;
        }
    }
}

.portfolio {
    padding-bottom: 18rem;
    &__text {
        margin-bottom: 14.4rem;
    }
    &-case {
        background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
        margin-bottom: 18rem;
        &__text {
            margin-top: 3.9rem;
            margin-bottom: 4rem;
        }
        &__item {
            padding-top: 6rem;
        }
        &__tasks {
            padding: 0;
            margin: 0;
            margin-bottom: 4rem;
            opacity: .8;
        }
        &__list {
            list-style-type: none;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.1;
            display: flex;
            gap: .6rem;
            &::before {
                content: "–";
            }
        }
        &__time-work {
            opacity: 1;
        }
        &__img {
            height: 31.5rem;
            &-1 {
                background-image: url(../img/agata.jpg);
            }
            &-2 {
                background-image: url(../img/lemon.jpg);
            }
        }
    }
    &-benefit {
        &__box {
            position: relative;
            padding-bottom: 8rem;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $grey;
                bottom: 0px;
            }
        }
        &__text {
            width: 100%;
            max-width: 87rem;            
        }
        &__grid {
            margin-top: 8rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            column-gap: 2rem;
            row-gap: 8rem;
        }
        &__item {
            display: flex;
            gap: 4rem;
            &-text {
                display: flex;
                gap: 2rem;
                flex-direction: column;
            }
        }
        &__img {

        }
        &__title {
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.05rem;            
        }
        &__description {
            width: 100%;
            max-width: 24.4rem;
        }
    }    
}